# --- Python / Virtual Environment ---
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Environment Secrets (CRITICAL) ---
.env
airflow.env
*.secrets
secrets.txt

# --- Docker & Databases ---
data/
*.sql
*.sqlite
mysql_data/
prometheus_data/
grafana_data/

# --- Airflow ---
airflow/logs/
airflow/pids/
airflow/airflow.db
airflow/webserver_config.py

# --- Monitoring & OS ---
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.log